main {
    text-align: center;
}
main p {
    /* text-align: center; */
    font-family: cursive;
    font-size: 24px;
    margin-top: 85px;
}
 main img {
    border-style: outset;
    width: 22%;
    height: 218px;
    border-width: thick;
    border-color: cadetblue;
 }
 main ul li {
    font-size: 25px;
    text-align: left;
    font-family: 'Courgette', cursive;
    margin-bottom: 20px;
    position:relative;
    top: 150px;
 }
 button{
    width: 233px;
    height: 58px;
    font-family: fantasy;
    font-size: 28px;
    color: #ffe3de;
    background-color: #0a043c;
    border-style: outset;
    border-width: thick;
    position: relative;
    top: 103px;
    right: 533px;
 }

 canvas {
     margin-top: 172px;
 }